.faq-item {
    padding: 20px 30px;
    border: 1.5px solid #a3a3a3;
    width: 100%;
    border-radius: 40px;
    margin-bottom: 20px;

    div {
        &.question {
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: #d0d0d0;
            margin-top: 0 !important;
            font-size: 17px;

            p {
                margin: 0;
            }

            button {
                background-color: transparent;
                border: 1.5px solid #eeeeee;
                border-radius: 50%;
                width: 26px;
                height: 26px;
                color: #eeeeee;
                font-size: 13px;
                padding-top: 2px;
                cursor: pointer;
                
                &:focus {
                    outline: 0;
                }
            }
        }

        &.answer {
            margin-top: 20px;
            color: #aaaaaa;
            font-size: 16px;
        }
    }
}

@media (max-width: 575.98px) { 
    .faq-item {            
        div {
            &.question{
                font-size: 15px;
            }

            &.answer {
                font-size: 14px;
            }            
        }
    }
    
}
