
.form-button {
    width: 100%;
    height: 50px;
    border-radius: 30px;
    border: none;
    background-color: #e41c39;
    color: white;

    &.greyColor {
        background-color: #707070;
    }

    &:focus {
        outline: none;
    }

    .loadSubIcon {
        margin-right: 7px;
        animation: spin 1s infinite linear;
    }
}