@keyframes spin {
  from { transform: scale(1) rotate(0deg); }
  to { transform: scale(1) rotate(360deg); }
}
.App {
  background-color: #444444;
  position: relative;
  overflow-x: hidden;

  .main-section {
    min-height: calc(100vh - 116px);
    background-image: url('./assets/background.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .wait-loading {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(250, 250, 250, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 11;

      .loadIcon {
        color:rgba(0, 0, 0, 0.6);
        font-size: 50px;
        margin-right: 7px;
        animation: spin 1s infinite linear;
    }
  }

}
//for removing google autocomplete logo 
.pac-container:after{
  content:none !important;
}