
.footer-div {
    padding: 5px 7%;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-weight: 400;

    div {

        &:nth-child(2) {
            padding-left: 100px;
        }

        display: flex;
        flex-direction: row;

        &:nth-child(3) {
            span {
                padding: 0 5px;
            }
        }      

        .facebook-icon {
            color: #9e9e9e;
            border-radius: 50%;
            padding: 6px 9px;
            border: 1.3px solid #929292;
            margin-right: 10px;
            cursor: pointer;
        }

        .instagram-icon {
            color: #9e9e9e;
            border-radius: 50%;
            padding: 6px 7px;
            border: 1.3px solid #929292;
            cursor: pointer;
        }
    }
}
@media (min-width: 576px) and (max-width: 768px) {
    .footer-div {
        padding: 10px 20px;
    
        div {
            padding: 0 5px;

            &:nth-child(1) {
                span {
                    display: none;
                }
            }
    
            &:nth-child(2) {
                padding-left: 0;
            }            
           
            .hidden {
                display: none;
            }                         
        }
    }
}

@media (max-width: 575.98px) { 
    .footer-div {
        padding: 10px;
    
        div {
            padding: 0 5px;

            &:nth-child(1) {
                span {
                    display: none;
                }
            }
    
            &:nth-child(2) {
                padding-left: 0;
            }            
           
            .hidden {
                display: none;
            }                    
    
            .facebook-icon {          
                padding: 5px 8px;
                margin-right: 7px;
                font-size: 13px;
            }

            .instagram-icon {            
                padding: 5px 5.5px;
                font-size: 13px;      
            }      
        }
    }
}